@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  min-height: 100vh;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 48px 32px 32px;
  background-image: url("../assets/bg.png");
  background-repeat: repeat;

  &:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .05;
    background-image: url("../assets/icon.ico");
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
}

.label,
label {
  @apply h-9 leading-9 text-right;
}

input, textarea {
  @apply px-3 py-2 border shadow-sm bg-transparent border-2 border-gray-500 placeholder:text-sm placeholder:text-gray-400 placeholder:italic focus:outline-none focus:border-sky-500 focus:ring-sky-500 rounded-md focus:ring-1;

  &.error {
    @apply border-pink-500 text-pink-600 focus:border-pink-500 focus:ring-pink-500;
  }
}

textarea {
  resize: none;
}

button {
  height: 40px;
  line-height: 40px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 0.5rem;
  border: 0;

  &.error {
    animation: shake 0.5s;
  }

  &:hover {
    @apply shadow-md;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
